<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BotzoneLocalRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
  <userSettings>
    <BotzoneLocalRunner.Properties.Settings>
      <setting name="LastBotzoneLocalAIURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedGame" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeLimit" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="UseSimpleIO" serializeAs="String">
        <value>False</value>
      </setting>
    </BotzoneLocalRunner.Properties.Settings>
  </userSettings>
</configuration>
